[Unit]
Description=Nvidia A10 GPU Fan Control Daemon
After=multi-user.target

[Service]
Type=simple
ExecStart=/opt/a10-fan-control/A10_FanCtrl.sh
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
